GiveCampStarterSite.userprefs
GiveCampWeb/GiveCampWeb.pidb
GiveCampWeb/bin/
GiveCampWeb/Backup/
GiveCampWeb/obj/

*.suo*.user*.FileListAbsolute.txt*\bin\**\obj\**.ncb*.nlb*.aps*.clw*.pdb*.obj*.exe*.pch*.vspscc*_i.c*_p.c*.tlb*.tlh*.bak*.cache*.Cache*.ilk*.log*.lib*.sbr*.scc*.sig_ReSharper*\*[Bb]in[Dd]ebug*/obj/[Rr]elease*/[Tt]est[Rr]esult*[Bb]uild[Ll]og.**.[Pp]ublish.xml